
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*– components/ */
@import 'components/checkbox';

body {
    font-family: 'Roboto', sans-serif;
}

@import 'components/table';

@import 'components/textinput';

@import 'components/textarea';

@import 'components/breadcrumbs';

@import 'components/form_group';

@import 'components/dropdown';

body {
    font-family: 'Roboto', sans-serif;
}

.color-black {
    color: black;
}

h3, h2 {
    color: $darkBlue;
}

button {
    background-color:  $darkBlue !important;
}

.color-black {
    color: black;
}

.p-l-none {
    padding-left: 0px;
}

.m-b-none {
    margin-bottom: 0;
}

.text-right {
    text-align: right;
}

.login-btn {
    width: 10%;
    height: 25px;
    padding-top: 2px;
    font-size: 12px;
}

.p-r-none {
    padding-right: 0px;
}

.f-s-14 {
    font-size: 14px;
}

.f-s-21 {
    font-size: 21px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-l-60 {
    padding-left: 60px;
}

.p-l-25 {
    padding-left: 25px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.hr-thick {
    border: 3px solid #3e7ea9;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 35px;
    margin-top: 0px;
}

.hr-thin {
    border: 2px solid #3e7ea9;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 35px;
}

.row > .hr-thin  {
    width: 100%;
}

@media (max-width:991px) {
    .p-l-25 {
        margin-left: -15px;
        padding-left: 0px;
    }
}

.flex-nav-items {
    display: flex;
    justify-content: flex-end;
}

.text-decoration-none {
    text-decoration: none;
}

.inline-block {
    display: inline-block;
}

.v-align-top {
    vertical-align: top;
}

.justify-center {
    justify-content: center;
}

.center-flex {
    justify-content: center;
    display: flex;
}

.form-group.required > label:before {
    content: "*";
    color: #3e7ea9;
}

.m-l-5 {
    margin-left: -5px;
}

.display-inline {
    display: inline;
}

.m-t-12 {
    margin-top: -12px;
}

.w-50 {
    width: 50%;
}

.w-15 {
    width: 15%;
}

.w-5 {
    width: 5%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.w-1 {
    width: 1%;
}
