// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'node_modules/bootstrap-table/src/bootstrap-table';
//@import 'datepicker';

/*– components/ */
@import 'components/checkbox';

@import 'components/table';

@import 'components/textinput';

@import 'components/textarea';

@import 'components/breadcrumbs';

@import 'components/form_group';

@import 'components/dropdown';

@import 'components/fileinput';

@import 'chat';

@import 'components/nanoscroller';

body {
    font-family: 'Roboto', sans-serif !important;
}

.color-black {
    color: black;
}

h3, h2 {
    color: $darkBlue;
}

.color-black {
    color: black;
}

.p-l-none {
    padding-left: 0px;
}

.m-b-none {
    margin-bottom: 0;
}

.text-right {
    text-align: right;
}

.login-btn {
    height: 35px;
    font-size: 12px;
}

.p-r-none {
    padding-right: 0px;
}

.p-r-none-i {
    padding-right: 0px !important;
}

.f-s-14 {
    font-size: 14px;
}

.p-l-5 {
    padding-left: 5px;
}

.m-b-8 {
    margin-bottom: 8px;
}

.f-s-21 {
    font-size: 21px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-l-60 {
    padding-left: 60px;
}

.p-l-25 {
    padding-left: 25px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.hr-thick {
    border: 3px solid #3e7ea9;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 35px;
    margin-top: 0px;
}

.hr-thin {
    border: 2px solid #3e7ea9;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 35px;
}

.row > .hr-thin  {
    width: 100%;
}

@media (max-width:991px) {
    .p-l-25 {
        margin-left: -15px;
        padding-left: 0px;
    }
}

.flex-nav-items {
    display: flex;
    justify-content: space-between;
}

.flex-nav-end {
    display: flex;
    justify-content: flex-end;
}

.text-decoration-none {
    text-decoration: none;
}

.inline-block {
    display: inline-block;
}

.v-align-top {
    vertical-align: top;
}

.justify-center {
    justify-content: center;
}

.center-flex {
    justify-content: center;
    display: flex;
}

.form-group.required > label:before {
    content: "*";
    color: #3e7ea9;
}

.m-l-5 {
    margin-left: -5px;
}

.display-inline {
    display: inline;
}

.m-t-12 {
    margin-top: -12px;
}

.w-55 {
    width: 55%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-5 {
    width: 5%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-20 {
    width: 20%;
}

.w-1 {
    width: 1%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.p-t-5 {
    padding-top: 5px;
}

.file-container {
    background: $lightGrey;
    padding-left: 5px;
    border-radius: 7px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 15px;

    a {
        text-decoration: underline;
    }
}

.rotate-180 {
    transform: rotate(180deg);
}

.hide-vis {
    visibility: hidden;
}

input[type='file'] {
    color: transparent;
}

.opacity-0 {
    opacity: 0;
}

.input-f {
    border: 2px solid $darkBlue;
    border-radius: 8px;
}

.front-z {
    z-index: 100;
    width: 270px;
}

.back-z {
    z-index: 0;
    position: absolute;
}

.c-lightBlue {
    color: $lighterBlue;
}

.c-lightGrey {
    color: $lightGrey;
}

.c-darkBlue {
    color: $darkBlue;
}

.c-darkBlue {
    color: $darkBlue;
}

.c-darkRed {
    color: $darkRed;
}

.alert-error {
    color: $darkRed;
    border-color: $darkRed;
}

.alert-status {
    color: $darkBlue;
    border-color: $darkBlue;
}

.search-box {
    border: 2px solid $darkBlue;
    border-radius: 7px;
    padding-left: 5px;
    background: url(/img/lupa.svg) no-repeat right 0.5rem center/20px 22px;

    &::-ms-clear {
       display: none;
    }
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.date-box {
    border: 2px solid $darkBlue;
    border-radius: 7px;
    margin-right: 5px;
    width: 48%;
}

.m-r-20 {
    margin-right: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-t-10 {
    margin-top: 10px;
}

.p-t-10 {
    padding-top: 10px;
}

.display-flex {
    display: flex;
}

.m-t-45 {
    margin-top: 45px;
}

.arrow-right {
    transform: rotate(-90deg);

}

.arrow-left {
    transform: rotate(90deg);
}

.arrows-position {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
        transform: rotate(90deg);
    }
}

.m-l-85 {
    margin-left: -85px;
}

.justify-center {
    justify-content: center;
}

.modal-body {
    padding: 15px;
}

.p-15 {
    padding: 15px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.no-outline {
    outline: none;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-r-15 {
    margin-right: 15px;
}

.p-a-5 {
    padding: 5px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-r-25 {
  padding-right: 25px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-t-90 {
    margin-top: 90px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.p-t-13 {
    padding-top: 13px;
}

.w-60i {
    width: 60% !important;
}

.m-l-percent {
    margin-left: 24.7%;
}

.hr-small {
    border: 1px solid #3e7ea9;
}

.vote-box {
    border: none;
    width: 100%;
    height: 100%;
    // Below lines remove the default scrollbar displayed along with nano by IE and FF
    scrollbar-width: none;  // Firefox
    -ms-overflow-style: none; // IE 10+
}

.vote-box-outline {
    border: 2px solid #3e7ea9;
    border-radius: 7px;
}

.p-l-37 {
    padding-left: 37px;
}
.m-t-15 {
    margin-top: 15px;
}

.p-b-none {
    padding-bottom: 0px;
}

.p-t-none {
    padding-top: 0px;
}

.modal-x {
    font-weight: 100 !important;
    font-size: 30px;
}

.border-none {
    border: none;
}

.b-c-darkRed {
    background-color: #a93e3e;
    border: 0px;
}

.b-c-darkRed:hover {
    background-color: #863131;
}

.h2-custom {
    font-size: 3.0rem !important;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-30 {
    margin-top: 30px;
}
.p-t-3 {
    padding-top: 3px;
}

table.messages-list{
    tr{
        &.message-not-read{
            font-weight: bold;
        }
    }
}

.hidetable {
    visibility: hidden;
}

.p-l-10 {
    padding-left: 10px !important;
}

.m-b-1r {
    margin-bottom: 1rem;
}

.msg-m-b {
    margin-bottom: 27px;
}

.c-pointer {
    cursor: pointer;
}

.m-b-4 {
    margin-bottom: 4px;
}

.p-l-55 {
    padding-left: 55px;
}

.display-inherit {
    display: inherit;
}

.m-t-5 {
    margin-top: 5px;
}

.m-l-p5 {
    margin-left: 5px;
}

.m-r-none {
    margin-right: 0px;
}
.m-l-none {
    margin-left: 0px;
}

.p-l-60 {
    padding-left: 60px;
}

.p-r-50 {
    padding-right: 50px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 240px;
    display: inline-block;
}

.c-white {
    color: white;
    text-decoration: none !important;
}

.sort-active {
    text-decoration: underline !important;
}

.no-top {
    border-top: 0px !important;
}

.p-l-13 {
    padding-left: 13px;
}

.m-t-53 {
    margin-top: 53px;
}

.vote-search-height {
    height: 33px;
}

.vote-height {
    height: 200px;
}

.txt-area-height {
    height: 155px;
}

div.txt-area-height div.nano-pane {
    margin-top: 4px;
    margin-right: 10px;
    margin-bottom: 11px;
}

.public-table {
    max-height: 800px;
    height: auto;
}

div.public-table div.nano-pane {
    margin-top: 48px;
}

.absolute-body {
    position: absolute;
}

.tooltip {
    pointer-events: none;
}

.p-l-15 {
    padding-left: 15px;
}

html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1rem;
    }
}

@include media-breakpoint-up(md) {
    html {
      font-size: 1rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.2rem;
    }
}

@mixin table-mixin() {
    margin-bottom: 1rem;
    color: #212529;
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

@media (max-width: 991px) {
    .js-var {
        @include table-mixin();
    }
}

@media (max-width: 521px) {
    .sm-view {
        width: 100%;
        padding-right: 0px !important;
        text-align: right;
    }
}

.reg-bg {
    background: #f6f6f6;
}

.display-none {
    display: none;
}

.m-w-1000 {
    max-width: 1000px;
}
