.breadcrumbs-container {
    ol.breadcrumb {
        background: transparent;
        color: $darkBlue;
        font-size: 18px;
        & > li {
            display: inline-block;
            a{
                color: $darkBlue;
                &:hover{
                    color: $darkBlue;
                    text-decoration: none;
                }
            }
        }
        & > li + li:before {
            content: "\2BC8";
            padding: 0 5px;
            color: $darkBlue;
        }
    }
}
