.multiple-input-container {
    .upload-btn {
        margin-left: 20px;
    }

    .add-multiple {
        width: 35px;
        height: 30px;
        margin-top: 12px;
    }
}

.file-info {
    margin-top: 12px;
    margin-bottom: 12px;
}