.form-group {
    label {
        font-family: Roboto, sans-serif;
    }

    span {
        font-family: Roboto, sans-serif;
        &.error {
            font-family: Roboto, sans-serif;
            color: $darkRed;
        }
    }

    input, select {
        font-family: Roboto Light, sans-serif;
    }
}

