.table-wrapper{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-bottom: 7px solid #3e7ea9;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.ams-table {
    //border-top-left-radius: 15px !important;
    //border-top-right-radius: 15px !important;
    //border-bottom: 7px solid #3e7ea9;
    //border-radius: 7px;
    //table-layout:fixed;
    //overflow: hidden;
    margin-bottom: 0;

    thead {
        text-align: center;
        color: $lightGrey;
        background-color: $darkBlue;
    }

    &.table-striped {
        tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
            background-color: #cddee9;
        }

        tbody > tr:nth-child(2n+1):hover > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
            background-color: #aac3d3;
        }

          tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
            background-color: white;
        }

        tbody > tr:nth-child(2n):hover > td, .table-striped > tbody > tr:nth-child(2n) > th {
            background-color: rgb(246, 246, 246);
        }
    }
}

.ams-table-scrollable {
  max-height: 600px;
  overflow-y: auto;
}
